.teaser_content {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    position: relative;
    p, a{
        font-size: 36px;
        margin: 0;
        //padding: 0 2em;

    }

    a {
        padding: 0;
    }

    @media (max-width: 1060px) {
        height: 100vh;
        max-width: 100vw;
        padding: 0 2em;
    }
}