.site_footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: black;

    p {
        margin: 0;
    }

    a {
        margin: 0;

        &:hover {
            text-decoration: underline;
        }

    }

    .footer_left,
    .footer_center,
    .footer_right {
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 0.25rem;
        margin: 0;
    }

    .footer_center {
        flex-direction: row;
        align-items: end;

        a {
            padding: 0 8px;
            text-decoration: none;
            border-left: 1px solid #E2C275;

            &:first-child {
                padding-left: 0;
                border-left: none;
            }

            &:last-child {
                padding-right: 0;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}