.section_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 2rem;

    @media (width <= 1060px) {
        width: 100%;
        margin: 2rem;
    }
}