.contentSection {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4em;
    margin-bottom: 4rem;

    h1 {
        font-size: 48px;
    }

    p {
        font-size: 28px;
    }
}

.sectionImage {
    position: relative;
    z-index: 1;
    width: 50%;
    height: auto;
    padding: 2rem;
    box-sizing: border-box;
    object-fit: cover;
}

@media (width <= 1060px) {
    .contentSection {
        flex-direction: column;
        padding: 0 2em;

        h1 {
            font-size: 36px;
        }

        p {
            font-size: 24px;
        }
    }

    .sectionImage {
        width: 100%;
        padding: 0;
    }
}