.contentSection {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 $spacing-lg;
    margin-bottom: $spacing-lg;
}

.sectionImage {
    position: relative;
    z-index: 1;
    width: 50%;
    height: auto;
    padding: $spacing-md;
    box-sizing: border-box;
    object-fit: cover;
}

@media (width <= $breakpoint-lg) {
    .contentSection {
        flex-direction: column;
        padding: 0 $spacing-md;
    }

    .sectionImage {
        width: 100%;
        padding: 0;
    }
}